/* General styling */
body {
    background-color: #0a0f1e; 
    color: #cccccc; 
    font-family: 'Courier New', Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px; 
    padding-top: 20px; 
}

.points-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    width: 100%;
    gap: 5px;
}

/* Total clicks text */
.points-data {
    font-size: 1.1rem;
    margin-top: 0;
    color: #bbbbbb; 
}


#first-button {
    background-color: #00ff00; 
    color: #0a0f1e; 
    font-size: 3rem; 
    font-weight: bold;
    width: 80%; 
    max-width: 200px; 
    padding: 20px 40px;
    border: 2px solid #bbbbbb; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px #00ff00; 
    transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}


#first-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #00ff00;
}

#second-button {
    background-color: #ff4ff8; 
    color: #0a0f1e; 
    font-size: 3rem; 
    font-weight: bold;
    width: 80%; 
    max-width: 200px; 
    padding: 20px 40px;
    border: 2px solid #bbbbbb; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px #ff4ff8; 
    transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}

#second-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ff4ff8;
}


#third-button {
    background-color: #ffc400; 
    color: #0a0f1e; 
    font-size: 3rem; 
    font-weight: bold;
    width: 80%; 
    max-width: 200px; 
    padding: 20px 40px;
    border: 2px solid #bbbbbb; 
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px #ffc400; 
    transition: transform 0.1s ease-in-out, box-shadow 0.2s;
}

#third-button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #ffc400;
}

